PORT=3001
DATABASE_URL="mysql://root:1234@localhost:3306/simulado_saep"
JWT_SECRET="seu_jwt_secret_super_seguro_personal_tasks_2026"
JWT_EXPIRES_IN="7d"

# Configuração de E-mail (Gmail SMTP ou Provedor Customizado)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="seu-email@gmail.com"
SMTP_PASS="sua-senha-de-aplicativo-google"
SMTP_FROM="Personal Tasks <seu-email@gmail.com>"
APP_URL="http://localhost:3002"
